body {
    margin: 0;
}
/*Temporary outline*/
.octocat {
    border: 3px solid pink;
}
.image-footer {
    border: 2px solid blue;
}

/*Working Area*/
.octodex .octocat {
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    float: left;
    max-width: 33.3%
}
.octodex {
    padding: 0;
}
.authors {
    padding: 0;
    display: inline;
}
.image-caption {
    box-sizing: border-box;
}
.octocat img {
    max-width: 100%;
}
