body {
    margin: 0 auto;
    max-width: 100%;
}

/*Working Area*/
.octocat {
    list-style: none;
    margin-right: 0;
    margin-left: 1%;
    float: left;
    width: 32%;
    min-width: 15em;
    position: relative;
}
.octocat:last-child {
    margin-right: 1%;
}
.octodex {
    padding: 0;
}
.octocat img {
    max-width: 100%;
    border: 1px solid #c6c5c8;
    border-radius: 3px;
}
/*footer area*/
.triangle-down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #c6c5c8 transparent transparent transparent;
    position: absolute;
    bottom: 29px;
    right: 0;
}
.authors {
    padding: 0;
    display: inline;
}
.authors li, .image-footer {
    display: inline-block;
}
.authors img {
    width: 20px;
    border-style: none;
    vertical-align: middle;
}
span, a {
    color: #838286;
    text-decoration: none;
    font-size: 0.75em;
}
.image-number, a {
    font-weight: bold;
    font-size: 0.75em;
}
.image-footer {
    padding-bottom: 5px;
    border-bottom: 1px solid #c6c5c8;
    width: 100%;
    font-family: 'Open Sans', 'sans serif';
}
.image-caption {
    float: right;
}
.image-number::before {
    content: '#';
}
