body {
    margin: 0;
}
/*Temporary outline*/
.octocat img{
    border: 1px solid #c6c5c8;
    border-style: inset;
    border-radius: 3px;
}

/*Working Area*/
.octocat {
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 1em;
    float: left;
    max-width: 30%;
    min-width: 15em;
    display: inline-block;
}
.octodex {
    padding: 0;
}
.octocat img {
    max-width: 100%;
}
/*footer area*/
.triangle-down {
    background-color: #c6c5c8;
}
.authors {
    padding: 0;
    display: inline;
}
.authors li, div {
    display: inline-block;
}
.authors img {
    width: 1em;
    border-style: none;
}
span, a {
    color: #838286;
    text-decoration: none;
}
.image-number, a {
    font-weight: bold;
}
.image-footer {
    border-bottom: 1px solid #c6c5c8;
    width: 100%;
}
.image-caption {
    float: right;
}
